*.obj
Manual
/Project/MSVC/Win32/Debug
/Project/MSVC/Win32/Release
/Project/MSVC/Qt/Debug
/Project/MSVC/Qt/GeneratedFiles
/Project/MSVC/Qt/Release
/Src/Connection/ChunkedContentParser/Debug
/Src/Connection/ChunkedContentParser/Release
ipch
*.sdf
/Src/Connection/ChunkedContentParserQt/Debug
/Src/Connection/ChunkedContentParserQt/Release
/Src/Json/Release
/Src/Json/Debug
/ManualSetting
/build
/BuildCount.txt
/CMakeLists.txt
/DoxygenManual
