
/GooglePlusLibrary/Debug
/GooglePlusLibrary/Manual
/GooglePlusUtility/Debug
/GooglePlusUtility/Manual
/GooglePlusConnection/Manual
/GooglePlusConnection/.settings
/GooglePlusConnection/Debug
/GooglePlusLibrary/.settings
/GooglePlusLibrary/Debug
/GooglePlusLibrary/Manual
/GooglePlusUtility/.settings
/GooglePlusUtility/Debug
/GooglePlusUtility/Manual
*.bat
/Debug
/ipch
*.opensdf
/ManualSetting
/Release
JsonParserTest
Impl
Debug
Release
Manual
build
*.ipch
*.ipch
ipch
/project/msvc/Qt/ipch/googlepluslibrarywithqt-4b7c8505/*.ipch
ipch
*.ipch
*.sdf
*.sdf
BuildCount.txt
